// FONT
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@600&family=Questrial&display=swap');
// font-family: 'Abril Fatface', cursive;

// RESET
@import "reset";

$font-color: #eee;

// COMMON
body {
  background-color: black;

  a {
    color: $font-color;
  }
}

// HEADER
header {
  position: relative; // z-index 주기 위해
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // border-bottom: 1px solid #999;
  padding: 5vh 5vw;
  z-index: 2;

  h1 a {
    font: bold 50px/50px "Abril Fatface";
    font-weight: 10;
    color: rgb(231, 220, 220);
  }

  #gnb {
    display: flex;

    li {
      margin: 0px 40px;

      a {
        font: 20px/1 "Abril Fatface";
        font-weight: 5;
        color: $font-color;
        letter-spacing: 1px;
        // 글자 자간
      }
    }
  }

  .sns {
    display: flex;

    li {
      margin: 0 7px;

      a {
        font-size: 20px;
        color: $font-color;
      }
    }
  }

  #snb {
    display: none;
  }

  .btn-menu {
    font-size: 30px;
    display: none;
    color: rgb(231, 220, 220)
  }

}




//VIDEO
figure {
  position: absolute;
  // body 태그를 참조하고 viewport를 따라간다.
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  // 튀어나갈 수 있으니까 top, left를 0으로 고정시키는 것임
  overflow: hidden;
  z-index: 1;

  video {
    width: 100%;
    height: 100%;
    // 넓이와 높이 모두 부모 요소를 받겠다. 100%
    object-fit: cover;
    // 비디오에서 가득 채우라고 사용하는 object-fit;
  }

  .text {
    position: absolute;
    left: 6vw;
    top: 50%; // 부모로부터 50% 내리겠다.
    translate: (0, -50%); //글자 크기의 50% 수직 중앙정렬

    p {
      font: lighter 6vw/1 "Abril Fatface";
      // color: rgb(231, 220, 220);
      color: rgb(253, 251, 251);
    }

    ul {
      display: flex;
      margin-top: 30px;

      li {
        margin: 0px 30px;

        i {
          font-size: 20px;
          color: rgb(253, 251, 251);
          margin-right: 10px;
          padding: 20px 0px;
        }

        strong {
          font: 20px/1 "Abril Fatface";
          color: rgb(253, 251, 251);
          letter-spacing: 1px;
        }
      }
    }
  }
}

// FOOTER
footer {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  font: 12px/1 "arial";
  color: rgb(253, 251, 251);
  letter-spacing: 2px;
  padding: 5vh 0;
}

// 반응형
@media screen and (max-width: 968px) {
  header {
    #gnb {
      display: none;
    }

    .sns {
      display: none;
    }

    #snb {
      display: block;



      .sub-menu {
        position: absolute;
        right: 5vw;
        background-color: black;
        border: 1px solid $font-color;
        border-radius: 10px;
        padding: 10px 25px;
        transition: 0.4s;

        &.hide {
          opacity: 0;
        }

        li {
          padding: 10px 0;
          color: $font-color;
          font: 16px/1 "Abril Fatface";

          a i {
            margin-left: 11px;
          }
        }
      }
    }

    .btn-menu {
      display: block;
      color: rgb(231, 220, 220)
    }
  }

  figure {
    .text {
      p {
        font-size: 15vw;
      }
    }
  }
}